@page "/"
@attribute [Authorize]

<h1 class="display-4"><span class="text-primary text-highlight-warning">Hello, world!</span></h1>

<h3>Welcome to the beta of RGSM, a work in progress management panel for game servers.</h3>