@page "/unauthorized"
@layout EmptyLayout

<div class="vh-100 vw-100 d-flex justify-content-center align-items-center">
    <div class="d-flex align-items-center">

        <div class="text-center">
            <p class="lead m-0">Unauthorized</p>
            <p class="m-0 text-muted">You are not authorized to view this content</p>

            <a class="btn btn-wide btn-primary" href="/">Return To Home</a>
        </div>
    </div>
</div>