<EditForm Model="ViewModel" OnValidSubmit="RegisterAsync">
    <div class="modal-header">
        <h4 class="modal-title">Create a new user group</h4>
        <button type="button" class="btn btn-xs btn-icon btn-soft-secondary" data-dismiss="modal" aria-label="Close" tabindex="-1"
                @onclick="async () => await ModelInstance.Cancel()">
            <svg aria-hidden="true" width="10" height="10" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z" />
            </svg>
        </button>
    </div>
    <div class="modal-body">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <BytexDigital.Blazor.Components.FormValidators.ManualFormValidator TModel="CreateGroupModel" @ref="Validator" />

        <div class="form-group">
            <label class="input-label">Display Name</label>
            <InputText @bind-Value="ViewModel.DisplayName" class="form-control" placeholder="Display name"></InputText>
            <ValidationMessage For="() => ViewModel.DisplayName" />
        </div>

        <div class="form-group">
            <label class="input-label">Name</label>
            <InputText @bind-Value="ViewModel.Name" class="form-control" placeholder="Unique name"></InputText>
            <ValidationMessage For="() => ViewModel.Name" />
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</EditForm>