@inherits LayoutComponentBase
@attribute [Authorize]

<header id="header" class="header">
    <div class="header-section bg-light">
        <!-- Topbar -->
        <BytexDigital.RGSM.Panel.Client.Shared.Layout.SessionHeader />
        <!-- End Topbar -->

        <div id="logoAndNav" class="container">
            <!-- Nav -->
            <nav class="js-mega-menu navbar navbar-expand-lg">
                <!-- Responsive Toggle Button -->
                <button type="button" class="navbar-toggler btn btn-icon btn-sm rounded-circle ml-auto"
                        aria-label="Toggle navigation"
                        aria-expanded="false"
                        aria-controls="navBarWithBSDropdownMegaMenu"
                        data-toggle="collapse"
                        data-target="#navBarWithBSDropdownMegaMenu">
                    <span class="navbar-toggler-default">
                        <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                            <path fill="currentColor" d="M17.4,6.2H0.6C0.3,6.2,0,5.9,0,5.5V4.1c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,5.9,17.7,6.2,17.4,6.2z M17.4,14.1H0.6c-0.3,0-0.6-0.3-0.6-0.7V12c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,13.7,17.7,14.1,17.4,14.1z" />
                        </svg>
                    </span>
                    <span class="navbar-toggler-toggled">
                        <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                            <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z" />
                        </svg>
                    </span>
                </button>
                <!-- End Responsive Toggle Button -->
                <!-- Navigation -->
                <div id="navBarWithBSDropdownMegaMenu" class="collapse navbar-collapse">
                    <ul class="navbar-nav nav navbar-nav-underlined flex-grow-1">
                        <li class="navbar-nav-item nav-item mr-lg-3">
                            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All" ActiveClass="active font-weight-bold"><i class="fas fa-home mr-2"></i> Home</NavLink>
                        </li>
                        <li class="navbar-nav-item nav-item mr-lg-3">
                            <NavLink class="nav-link" href="/servers" Match="NavLinkMatch.All" ActiveClass="active font-weight-bold"><i class="fas fa-server mr-2"></i> Servers</NavLink>
                        </li>

                        @if (IsAdmin)
                        {
                            <li class="navbar-nav-item nav-item dropdown">
                                <NavLink class="nav-link dropdown-toggle" href="/settings" Match="NavLinkMatch.Prefix" ActiveClass="active font-weight-bold"
                                         role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-cog mr-2"></i> Settings</NavLink>
                                <div class="dropdown-menu">
                                    <NavLink Match="NavLinkMatch.Prefix" class="dropdown-item" href="/settings/nodes">Nodes</NavLink>
                                </div>
                            </li>
                        }

                        @*<li class="navbar-nav-item  nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Dropdown
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>*@
                    </ul>
                </div>
                <!-- End Navigation -->
            </nav>
            <!-- End Nav -->
        </div>
    </div>
</header>
<!-- ========== END HEADER ========== -->

<div class="container mt-5">
    @Body
</div>