@page "/settings/accounts"

<div class="mb-5">
    <h2 class="text-primary">Accounts</h2>
    <p class="text-secondary">
        Create edit user accounts and assign them permissions.
    </p>
</div>

@if (ApplicationUsers == null)
{
    <Spinner class="mt-5"></Spinner>
}
else
{
    <div class="table-responsive mt-3">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in ApplicationUsers.OrderBy(x => x.UserName))
                {
                    <tr>
                        <th>
                            <p class="m-0">
                                <strong>@user.UserName</strong><br />
                                <small class="text-muted">@user.Id</small>
                            </p>
                        </th>
                        <td>
                            <div class="d-flex justify-content-end">
                                <button role="button" class="btn btn-ghost-primary btn-sm"><i class="fas fa-pen mr-2"></i> Edit</button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}